version: '3.8'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"

  ef:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - postgres
    entrypoint: ["dotnet", "ef", "migrations", "add", "InitialCreate"]
    environment:
      PGHOST: postgres
      PGUSER: myuser
      PGPASSWORD: mypassword
      PGDATABASE: mydb
